<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<link rel="stylesheet" th:href="@{/css/miestilo.css}" />
<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">
        <div class="card bg-light sombra" >
            <div class="card-header" th:text="${titulo}"></div>
            <div class="cardbody">
                <h4 class="card-title mx-3">
                    <td><a class="btn btn-primary btn-xs" th:href="@{'/factura/form/' + ${cliente.id}} ">crear factura</a></td>
                </h4>
                <img class="img-thumbnail rounded float-left" th:if="${#strings.length(cliente.foto)>0}" style="max-width: 25%;" th:src="@{'/uploads/'+${cliente.foto}}" th:alt="${cliente.foto}">
                <ul class="list-group">
                    <li class="list-group-item" th:text="${cliente.nombre}"></li>
                    <li class="list-group-item" th:text="${cliente.apellido}"></li>
                    <li class="list-group-item" th:text="${cliente.email}"></li>
                    <li class="list-group-item" th:text="${cliente.createAt}"></li>
                </ul>
                <div class="alert alert-info my-4" th:if="${#lists.isEmpty(cliente.facturas)}" th:text="'No hay facturas asignadas para el cliente '+${cliente.nombre} +' '+${cliente.apellido}"></div>
                <table class="table table-bordered table-striped my-4" th:if="${not #lists.isEmpty(cliente.facturas)}" >
                    <thead class="thead-dark">
                        <tr>
                            <th>Folio</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Ver</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="factura: ${cliente.facturas}">
                            <td th:text="${factura.id}"></td>
                            <td th:text="${factura.descripcion}"></td>
                            <td th:text="${factura.createAt}"></td>
                            <td th:text="${factura.total}"></td>
                            <td><a class="btn btn-primary" th:href="@{'/factura/ver/' + ${factura.id}}">Detalle</a></td>
                            <td><a class="btn btn-danger" th:href="@{'/factura/eliminar/' + ${factura.id}}"
                            onclick="return confirm('¿Esta seguro que desea eliminar la factura?');">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-secondary btn-xs my-2 mx-2" th:href="@{/listar/}">&laquo;volver</a>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>